---
import Layout from "../layouts/Layout.astro";

import { getBlogs } from "../lib/microcms";
const response = await getBlogs({ fields: ["id", "title"] });
---

<Layout title="Welcome to Astro.">
	<main>
		<ul>
			{
				response.contents.map((blog: any) => (
					<li>
						<a href={blog.id}>{blog.title}</a>
					</li>
				))
			}
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
</style>
